
<h1 style="margin-bottom: 50px;">Welcome to Flock</h1>
<div class="jumbotron">

  <div class="cont_login">
    

    <div class="cont_info_log_sign_up">
      <div class="col_md_login">
        <div class="cont_ba_opcitiy">    
          <h2>LOGIN</h2>  
          <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
        </div>
      </div>

      <div class="col_md_sign_up">
        <div class="cont_ba_opcitiy">
          <h2>SIGN UP</h2>
          <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
        </div>
      </div>
    </div>

    <div class="cont_back_info">
       <div class="cont_img_back_grey">
        <img src="http://i.jootix.com/o/02241-Wavesofhappiness-2560x1600.jpg" alt="" />
       </div>
    </div>


    <div class="cont_forms" >
      <div class="cont_img_back_">
       
        <img src="http://i.jootix.com/o/02241-Wavesofhappiness-2560x1600.jpg" alt="" />
      </div>

      <div class="cont_form_login">
        <a href="#/" onclick="ocultar_login_sign_up()" ><b style="color: #dedede; font-size: 16px;">X</b></a>
          <h2>LOGIN</h2>
        <input type="text" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
      </div>
  
      <div class="cont_form_sign_up" style="overflow-y: auto;">
        <a href="#/" onclick="ocultar_login_sign_up()"><b style="color: #dedede; font-size: 16px;">X</b></a>
        <h2 style="margin-bottom: -3px;">SIGN UP</h2>
        <input type="text" placeholder="Email"/>
        <input type="text" placeholder="User" />
        <input type="password" placeholder="Password" />
        <input type="password" placeholder="Confirm Password" />
        <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
      </div>
    </div>
  </div>
</div>

<!-- 
</div>
</div> -->

<!-- <div class="row marketing">
  <h4>Insert Main Summary here</h4>
  <p>
    Call from DB, add up all savings, enum over time in graph
  </p>

  <h4>add class for each goal</h4>
  <p>
    Same sized goal in grid view
  </p>

</div> -->
