<div class="jumbotron">
  <h1>Welcome to Flock</h1>
  <p class="lead">
  If not logged in, have  button here to lead to sign up page.
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Insert Main Summary here</h4>
  <p>
    Call from DB, add up all savings, enum over time in graph
  </p>

  <h4>add class for each goal</h4>
  <p>
    Same sized goal in grid view
  </p>

</div>
