
<div class="container">
  <div class="row header">
    <h1>New User &nbsp;</h1>
    <h3>Finish making a new account by inputting your Capital One bank information and Budget * fields are required.</h3>
  </div>
  <div class="row body">
    <form action="#">
      <ul>
        
        <li>
          <p class="left">
            <label for="first_name">Bank Account Number <span class="req">*</span></label>
            <input type="text" name="first_name" placeholder="Account Number here" />
          </p>
        </li>
        
        <li>
          <p>
            <label for="email">Monthly Budget <span class="req">*</span></label>
            <input type="text" name="first_name" placeholder="Set a monthly budget" />
          </p>
        </li> 

        
        
        <li>
          <a href="/#/"><input class="btn btn-submit" type="submit" value="Submit" /></a>
          <small>or press <strong>enter</strong></small>
        </li>

        <li>

        <br>
        <a href="/#/"><input class="btn btn-submit" type="submit" value="Cancel" /></a>
        </li>
        
      </ul>
    </form>  
  </div>
</div>