
<!DOCTPYE html>
	<html>
		<body>
			<img src="https://github.com/angievo/screenshots/blob/master/graph.png?raw=true" alt="Meta Analysis" style="width:304px;height:228px;">
			<img src="https://github.com/angievo/screenshots/blob/master/graph2.png?raw=true" alt="Meta Analysis" style="width:304px;height:228px;">
		</body>
	</html>

<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

<div id="wrapper">
    <div id="columns">
         <div class="pin">
            INSERT GRAPH HERE
            <img src="https://github.com/angievo/screenshots/blob/master/chart1.png?raw=true" alt="Meta Analysis" style="width:304px;height:228px;">
        </div>
    
        <div class="pin">
            INSERT GRAPH HERE
            <img src="https://github.com/angievo/screenshots/blob/master/chart2.png?raw=true" alt="Meta Analysis" style="width:304px;height:228px;">
        </div>
    
        <div class="pin">
            INSERT GRAPH HERE
            <img src="https://github.com/angievo/screenshots/blob/master/chart3.png?raw=true" alt="Meta Analysis" style="width:304px;height:228px;">
        </div>
    

    </div>
</div>

