
<!DOCTPYE html>
	<html>
		<body>
			<img src="https://github.com/angievo/screenshots/blob/master/graph.png?raw=true" alt="Meta Analysis" style="width:348px;">
			<img src="https://github.com/angievo/screenshots/blob/master/graph2.png?raw=true" alt="Meta Analysis" style="width:348px;">
		</body>
	</html>

<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

<div id="wrapper">
         <div class="pin1">
            <img src="https://github.com/angievo/screenshots/blob/master/chart1.png?raw=true" alt="Meta Analysis" style="width:218px;">
            <form action="">
                <input type="checkbox" name="vehicle" value="Dollar">Round to nearest top dollar<br>
                <input type="checkbox" name="vehicle" value="Car">Monthly savings
            </form>
        </div>
    
        <div class="pin2">
            <img src="https://github.com/angievo/screenshots/blob/master/chart2.png?raw=true" alt="Meta Analysis" style="width:218px;">
            <form action="">
                <input type="checkbox" name="vehicle" value="Dollar">Round to nearest top dollar<br>
                <input type="checkbox" name="vehicle" value="Car">Monthly savings
            </form>
        </div>
    
        <div class="pin3">
            <img src="https://github.com/angievo/screenshots/blob/master/chart3.png?raw=true" alt="Meta Analysis" style="width:218px;">
            <form action="">
                <input type="checkbox" name="vehicle" value="Dollar">Round to nearest top dollar<br>
                <input type="checkbox" name="vehicle" value="Car">Monthly savings
            </form>
        </div>
    
</div>

