
<!DOCTPYE html>
	<html>
		<body>
		<div class="button-container" style="margin-bottom: -80px; margin-top: -30px;">
  <a href="#/newGoal" class="button">
    Add new goal
  </a>
</div>
			<img src="https://github.com/angievo/screenshots/blob/master/graph.png?raw=true" alt="Meta Analysis" style="width:348px;">
			<img src="https://github.com/angievo/screenshots/blob/master/graph2.png?raw=true" alt="Meta Analysis" style="width:348px;">
		</body>
	</html>

<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

<div id="wrapper">
         <div class="pin1">
            <img src="https://github.com/angievo/screenshots/blob/master/chart1.png?raw=true" alt="Meta Analysis" title="$173.13 saved of $199.00 (87%)" style="width:218px;">
            <form action="">
                <input type="checkbox" name="vehicle" value="Dollar">Round to nearest top dollar<br>
                <input type="checkbox" name="vehicle" value="Car" checked>Monthly savings
            </form>
        </div>
    
        <div class="pin2">
            <img src="https://github.com/angievo/screenshots/blob/master/chart2.png?raw=true" alt="Meta Analysis" title="Shared goal status: $333.33 saved of $1000.00 (33%) Total goal: $3000.00" style="width:218px;">
            <form action="">
                <input type="checkbox" name="vehicle" value="Dollar">Round to nearest top dollar<br>
                <input type="checkbox" name="vehicle" value="Car" checked>Monthly savings
            </form>
        </div>
    
        <div class="pin3">
            <img src="https://github.com/angievo/screenshots/blob/master/chart3.png?raw=true" alt="Meta Analysis" title="Shared goal status: $735.00 saved of $1050.00 (70%) Total goal: $2100.00" style="width:218px;">
            <form action="">
                <input type="checkbox" name="vehicle" value="Dollar" checked>Round to nearest top dollar<br>
                <input type="checkbox" name="vehicle" value="Car" checked>Monthly savings
            </form>
        </div>

        <div class="pin">
            <img src="https://github.com/angievo/screenshots/blob/master/Screen%20Shot%202016-05-27%20at%2010.06.53%20AM.png?raw=true" alt="Meta Analysis" title="$00.00 saved of $39.99 (0%)" style="width:218px;">
            <form action="">
                <input type="checkbox" name="vehicle" value="Dollar">Round to nearest top dollar<br>
                <input type="checkbox" name="vehicle" value="Car" checked>Monthly savings
            </form>
        </div>
    
</div>

